
**/CMakeFiles/

**/CMakeCache.txt

**/cmake_install.cmake

**/Makefile

proyecto-estructura

**/target/

tcp_server_experiment/tcp_server_experiment

.idea/

cmake-build-debug/

tcp_server_experiment/.ninja_deps

tcp_server_experiment/.ninja_log

tcp_server_experiment/build.ninja

tcp_server_experiment/.cmake/api/v1/query/

tcp_server_experiment/.cmake/api/v1/reply/

tcp_server_experiment/cmake-build-relwithdebinfo/

tcp_server_experiment/cmake-build-release/

tcp_server_experiment/cmake-build-minsizerel/

tcp_server_experiment/cmake-build-default/
