
**/CMakeFiles/

**/CMakeCache.txt

**/cmake_install.cmake

**/Makefile

proyecto-estructura

**/target/

.idea/

**/cmake-build-debug/

**/.ninja_deps

**/.ninja_log

**/build.ninja

**/.cmake/

**/.cmake/

**/cmake-build-relwithdebinfo/

**/cmake-build-release/

**/cmake-build-minsizerel/

**/cmake-build-default/

proyecto_tests

proyecto_estructura

.DS_Store

cmake_build/

table1

Testing/Temporary/

.fleet/
